In [ ]:
# Question 1
val1 = int(input("Enter first number"))
val2 = int(input("Enter second number"))
op = input("Enter operator")
if op == "+":
    add = val1 + val2
    print(add)
elif op == "-":
    sub = val1 - val2
    print(sub)   
elif op == "*":
    mul = val1 * val2
    print(mul)
elif op == "/":
    div = val1 / val2
    print(div)    
else:
    print("You have used invalid operator")

In [ ]:
# Question 3
customer_ahmed = {
                "name"    :"ahmed",
                "surname" :"khan",
                "language":"memon" }
customer_ahmed["address"] = 'Karachi' 
print (customer_ahmed)

In [ ]:
# Question 2
a = 1

li = ["ali" , 5 , "ahmed" , 6 , 4 , 7 ]
for lis in li:
    if lis == 1 or lis == 2 or lis == 3 or lis == 4 or lis == 5 or lis == 6 or lis == 7 or lis == 8 or lis == 9 or lis == 0:
     print(lis);

In [ ]:
# Question 6
iqra_university = {
                "Student in commerce" : 100,
                "Student in Botany"   : 100,
                "Student in Physics"  : 100,
                "Student in chemistry": 100}
iqra_university["Student in Zoology"] = 100


for iqraStudent in iqra_university.values():
    if iqraStudent == iqra_university["Student in Zoology"]:
        print ("ALREADY EXIST")

In [ ]:
# Question 4
iqra_university = {
                "Student in commerce" : 100,
                "Student in Botany"   : 100,
                "Student in Physics"  : 100,
                "Student in chemistry": 100}
add = iqra_university["Student in commerce"] + iqra_university["Student in Botany"] +iqra_university["Student in Physics"]
+ iqra_university["Student in chemistry"]
print(add)

In [ ]:
# Question 5
li1  = ["ali" , 5 , "ahmed" , 6 , 5 , 7 ]
for lis1 in li1:
    if  lis1 ==li1:
        print(lis1)